services:
  reviewanalyzer:
    container_name: reviewanalyzer-host
    image: reviewanalyzer.host
    build:
      context: .
      dockerfile: ReviewAnalyzer.Host/Dockerfile
    restart: unless-stopped
    ports:
      - "8080:8080"



